@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 2
   
   Style Sheet for Costume Expressions Front Page
   Author: Jeanette Heath
   Date:   03/02/2020
   
   Filename: ce_styles.css
*/

@charset "utf-8";

/* Window and Body Styles */
html {
   background-color: rgb(101, 101, 101);
}
nav.horizontal > ul > li {
   display: block;
   width: 12.5%;
   float: left;
}
body {
   position: relative;
   background-color: white;
   font-family: Verdana, Geneva, Arial, sans-serif;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;
   width: 95%;
   min-width: 320px;
   max-width: 960px;
}
body img {
   display: block;
   width: 100%;
}
nav a {
   text-decoration: none;
}

/* Body Header Styles */
body > header {
   background-color: rgb(191, 168, 170);
   height: 40px;
}
header nav {
   float: left;
   padding-left: 2%;
   padding-right: 2;
   width: 100%;
}
body > header > nav un li {
   display: block;
   float: left;
   margin-right: 20px;
   padding-top: 8px;
   padding-bottom: 10px;
   padding-left: 0px;
   padding-right: 0px;
}
body > header > nav > ul > li {
   font-size: 0.9em;
   color: rgb(51, 51, 51);
}
nav a:link, nav a:visited {
   color: rgb(51, 51, 51);
}
nav a:hover, nav a:active {
   color: rgb(255, 211, 211);
}

/* DIV Container Styles */

div#container {
   padding-right: 8px;
   padding-bottom: 8px;
}
div[class^="cell"]>a {
   display: block;
   width: 100%;
   padding-left: 8px;
   padding-top: 8px;
}

/* Footer Styles */
footer {
   right: 8px;
   bottom: 8px;
   color: rgb(143, 33, 36);
   text-align: right;
   font-size: 2vmin;
}